*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
body{
background-image: url(../images/fondo\ body.jpg);
padding: 0;
margin: 0;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
display: flex;
flex-direction: column;
}
